<ion-header>
  <ion-toolbar>
    <ion-title>Géneros Musicales</ion-title>
    <ion-button slot="end" (click)="cambiarTema()">Cambiar Tema</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    navigation="true"
    scrollbar="true"
    style="height: 100%"
  >
    <swiper-slide *ngFor="let genero of generosMusicales">
      <div class="slide-content" [ngClass]="genero.estilo">
        <h2>{{ genero.titulo }}</h2>
        <img [src]="genero.imagen" [alt]="genero.titulo" />
        <p>{{ genero.descripcion }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

